footer {
    background-color: var(--preto);
    color: var(--branco);
    height: 54px;
    
}

footer h2 {
    text-align: center;
    padding: 17px 0;
    font-size: 13px;
}

@media (max-width: 425px) {
    footer {
        height: 74px;
    }

    footer h2 {
        width: 246px;
        padding: 17px 0px;
        margin: 0 64px;
        line-height: 20px;
    }
}

@media (max-width: 425px) {
    footer {
        margin: 0 auto;
        width: 90vw;
    }
}

@media (max-width: 320px) {
    footer h2 {
        width: 190px;        
        height: 90px;
    }
}